<h1>
    Welcome {{user.email}}

    <form method="POST">
        {% csrf_token %}
        <br><br>
        <label for="email">Enter your XML Link:</label><br>
        <input type="text" id="link-url" name="link-url"><br>

        <label for="email">Enter email to send results to:</label><br>
        <input type="email" name="email" id="email"><br>

        <label for="email">Enter a word to change in the file:</label><br>
        <input type="text" name="change-word" id="change-word"><br>

        <label for="email">Enter a word to change it to:</label><br>
        <input type="text" name="change-to" id="change-to"><br>
        
        <input type="submit" value="Submit">
    </form>

    {{data}}
</h1>